<%= stylesheet_link_tag "start" %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="actions">
    <%= f.label "SIGN UP" %>
    <%= f.submit "Sign up", class: "btn-login" %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>
  <div class="field">
    <% if @minimum_password_length && @minimum_password_length >= 6 %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (Min 6 characters)" %>
    <% else %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
