<%= stylesheet_link_tag 'categories', media: 'all', 'data-turbolinks-track': 'reload' %>
<p class="tamountE"> Total amount:          <%= @category.total_amount%> </p>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
  <% end %>
</div>

<div >
  <div class = "links" >
  <%= link_to "Back to categories", categories_path , class: "link_to"%>
  <%= link_to "New expense", new_category_expense_path(@category) , class: "link_to" %>
  </div>
  <%= button_to "DESTROY", @category, method: :delete , class: "link_to delete" %>
</div>
