<%= form_with(model: [@category, @expense]) do |form| %>
  <% if expense.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div  class = "field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name , required: true %>
  </div>

  <div  class = "field">
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount , required: true%>
  </div>

  <div class="checkbox-exp">
  <%= form.label :categories %>
  <%= form.collection_check_boxes(:category_ids, @author.categories.all, :id, :name) do |b| %>
    <div class="checkbox">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>

  <div  class = "field actions">
    <%= form.submit 'save', class: "link_to" %>
  </div>
<% end %>
